*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.tmp/
/target/
/translation-service-logic/target/
/translation-service-api/target/

#NetBeans
nbactions.xml
/translation-service-api/nb-configuration.xml

#Tests
/translation-service-logic/derby.log
/translation-service-api/derby.log

